h1 a {
    text-decoration: none;
    color: #333
}

.content .pure-g {
    padding-top: 2em;
}

.pure-button {
    line-height: 2em;
    margin-bottom: 1em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* 48 em * 16 = 768 - 1 */
@media (max-width: 767px) {
    .header {
        padding-top: 1em;
    }

    h2.content-subhead {
        margin: 1em 0;
    }
}